header h1.title,
header h3.desc {
    text-align: center;
}

body {
    width: 70%;
    margin: auto;
}

a:link {
    color: rgb(240, 32, 32);
}

a:visited {
    color: rgb(119, 0, 255);
}

a:hover {
    color: rgb(249, 250, 182);
}

a:active {
    color: teal;
}

#navigation {}

p {
    font-size: 110%;
    color: black;
    float: center;
}

#contents {
    float: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 27, 0);
    font-family: sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(148, 1, 148);
}

footer {
    text-align: center;
}
